/* index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  cursor: pointer;
}

input, button {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #5facaa;
  border-radius: 4px;
}
